<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="ColoredConsole" name="console" />
    <target xsi:type="File" fileName="logfile.log" autoFlush="true" name="logfile"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>