<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="TrafficSimulation.Simulation.Engine.SimulationService" behaviorConfiguration="SimulationServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1337/Simulation/Engine.svc"/>
            <add baseAddress="net.pipe://localhost/Simulation/Engine.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:1337/Simulation/Engine.svc" binding="basicHttpBinding" contract="TrafficSimulation.Simulation.Contracts.ISimulationService"/>
        <endpoint address="net.pipe://localhost/Simulation/Engine.svc" binding="netNamedPipeBinding" contract="TrafficSimulation.Simulation.Contracts.ISimulationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimulationServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>